<h2 mat-dialog-title>How are your feeling right now?</h2>

<mat-dialog-content class="mat-typography">
  <section class="content">
    <form [formGroup]="moodForm">
      <div class="icons-container">
        <div class="icon-container" *ngFor="let moodCategory of moodCategories" (click)="selectMood(moodCategory)">
          <mb-mood-icon [category]="moodCategory" [class.selected]="isMoodSelected(moodCategory)"
                        class="selectable-icons" size="60"></mb-mood-icon>
          <span>{{nameOfMood(moodCategory)}}</span>
        </div>
      </div>
      <mat-form-field class="full-width" appearance="standard">
      <textarea cdkAutosizeMaxRows="10" cdkAutosizeMinRows="1" cdkTextareaAutosize class="full-width"
                formControlName="summary" matInput placeholder="What is happening?"></textarea>
      </mat-form-field>
    </form>
  </section>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button (click)="save()" cdkFocusInitial>Add</button>
</mat-dialog-actions>
