img.selected
  filter: brightness(100%) drop-shadow(0 0 0.75rem #eecbb1)

img
  border-radius: 30px
  filter: brightness(95%) drop-shadow(0 0 0.75rem #dedede)
  padding-bottom: 5px

section.content
  display: flex
  justify-content: center

.icons-container
  display: flex
  flex-direction: row
  padding-top: 20px
  padding-bottom: 15px

.icon-container
  display: flex
  flex-direction: column
  margin-right: 10px
  align-items: center
  &:hover
    cursor: pointer

textarea.full-width, mat-form-field.full-width
    min-width: 150px
    max-width: 600px
    width: 100%

h2
  margin-bottom: 0
