<div class="mood-cell">
  <div *ngFor="let moodTransition of moodTransitions; let last = last; let first = first; let i = index"
       class="mood-transition-container"
       [style.height]="calculateHeightOfTransition(moodTransition)">
    <mb-mood-transition [isFirst]="first"
                        [isLast]="last" [shortened]="shortened"
                        style="display: flex; height: 100%; width: 100%"
                        [moodTransition]="moodTransition"></mb-mood-transition>
  </div>
</div>
