<section class="monthly-mood-board">
<h4>{{monthAndYearHeaderName()}}</h4>
<div class="monthly-grid" [ngClass]="'monthly-grid-' + numberOfRowsInCalendar + '-rows'">
  <span *ngFor="let item of namesOfDaysInWeek" class="month-cell-name bordered">{{item}}</span>
  <span *ngFor="let item of offsetCells" class="month-cell offset-cell bordered"></span>
  <span [style.background-image]="generateGridClassesForSingleDay(i)" (click)="openDayInPopUp(i)"
        [style.cursor]="dayHasSomeMoodInserted(i) ? 'pointer' : 'auto'"
        *ngFor="let item of daysInMonth; let i = index;" class="month-cell bordered">
    {{calculateNumberOfDay(i)}}
  </span>
</div>
</section>
