\:host
  width: 100%
  height: 100%

.monthly-grid
  display: grid
  grid-template-columns: repeat(7, 1fr)
  width: 100%
  height: 100%
  padding-top: 10px

.monthly-grid-5-rows
  grid-template-rows: 25px repeat(5, 1fr)

.monthly-grid-4-rows
  grid-template-rows: 25px repeat(4, 1fr)

.monthly-grid-6-rows
  grid-template-rows: 25px repeat(6, 1fr)

.month-cell-name
  width: 100%
  height: 100%
  background: none
  display: flex
  justify-content: center
  align-items: center
  border: #ffffff solid 2px
  border-radius: 3px

.month-cell
  width: 100%
  height: 100%
  background: none
  display: flex
  justify-content: flex-start
  align-items: flex-start
  padding: 10px
  border: #ffffff solid 2px
  border-radius: 3px

.offset-cell
  background-image: linear-gradient(to bottom, #dddddd, #f5f5f5)

.bordered
  -webkit-box-shadow: 1px 1px 1px 1px rgba(134, 134, 134, 0.75)
  -moz-box-shadow: 1px 1px 1px 1px rgba(134, 134, 134, 0.75)
  box-shadow: 1px 1px 1px 1px rgba(134, 134, 134, 0.75)

.monthly-mood-board
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
  height: 100%
  padding-top: 10px
  padding-bottom: 20px
