<section class="container full-height">
  <div *ngFor="let moodsByDate of moodsByDates | keyvalue: dateAscOrder" class="daily-mood-container">
    <p style="text-align: center; margin-bottom: 0">{{dateOf(moodsByDate.key) | date: 'EEEE'}}</p>
    <p style="text-align: center; margin-bottom: 0">{{dateOf(moodsByDate.key) | date: 'dd.MM.yyyy'}}</p>
    <mb-daily-mood-board [date]="dateOf(moodsByDate.key)" [moodsOfDay]="moodsByDate.value" [shortened]="true"
                         [style.cursor]="dayHasSomeMoodInserted(moodsByDate.key) ? 'pointer' : 'auto'"
                         (click)="openDayInPopUp(moodsByDate.key)"
                         style="height: calc(100% - 2* 24px - 10px); display: flex"></mb-daily-mood-board>
  </div>
</section>


